html
{
    font-family: "Open Sans", sans-serif;
    
}
*
{
    border: none;
    margin:0;
    padding:0;
}
*:link,:visited
{
    text-decoration: none;
    color: white;
}

body
{
    margin:0;
    background-color: rgb(33, 33, 33);
    color:white;
}
::-webkit-scrollbar
{
    width: 15px;
}
::-webkit-scrollbar-thumb
{
    background-color:#18c3c3;
    border-radius: 10px;
}
.wave_hi
{
    display: inline-block;
    transition-property: scale;
    transition-duration: 200ms;
}
.wave_hi:hover
{
    animation: wave 200ms linear infinite;
    transform-origin: center;
    scale:1.9;
}
@keyframes wave {
    0% {
      transform: rotate( 0.0deg) ;
    }
    50% {
      transform: rotate(14.0deg) ;
    }
    100% {
        transform: rotate( 0.0deg) ;
      }
}
h1
{
    margin-bottom: 2rem;
    animation:drop-down 1s ease-out forwards;
}
@keyframes drop-down {
    
    0%
    {
        transform:  translateY(-100px);
        opacity: 0;
    }
    100%{
        transform:  translateY(0);
        opacity: 1;
    }
}
.delay_1s
{
    animation-delay: 1s !important;
}
.delay_3s
{
    animation-delay: 3s !important;
}
.delay_5s
{
    animation-delay: 5s !important;
}
.delay_7s
{
    animation-delay: 7s !important;
}
.typ_anim
{
    animation: typing 2s linear forwards;
    white-space: nowrap;
    border-right: 3px solid grey;
    overflow: hidden;
    width:0;
}
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blinkTextCursor {
    from {
      border-right-color: white;
    }
    to {
      border-right-color: transparent;
    }
  }
section
{
    min-height: 80vh;
    position: relative;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    padding: 100px 20vw;
    
}

.me
{
    position: absolute;
    transform:  translateY(-1600px);
    right:5rem;
    animation:drop-in 2.5s ease-out forwards, wobble 22s linear infinite;
    animation-delay: 3s;
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transition-property: scale;
    transition-duration: 200ms;
    height:25rem;
}
.me:hover
{
    scale: 1.1;
}
@keyframes drop-in {
    0%
    {
        transform:  translateY(-1600px);
        border-radius: 50% 50% 47% 53% / 29% 28% 72% 71%  ;
    }
    60%
    {
        border-radius: 50% 50% 47% 53% / 29% 28% 72% 71%  ;
    }
    100%{
        transform:  translateY(-8rem);
        border-radius: 50% 50% 39% 61% / 45% 47% 53% 55% ;
    }
}
.bord_curv
{
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.blue
{
    background-color: rgb(0, 0, 255);
}
.cyan
{
    background-color: rgb(15, 119, 119);
}
.green
{
    background-color: rgb(10, 80, 150);
}
.favcol
{
    background-color:#0f7777;
}
.black
{
    background-color: black;
}



.custom_curv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    transform: rotate(0) translateY(80vh);
}

.custom_curv svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 217px;
}

.custom_curv .shape-fill {
    fill: black;
}
h1
{
    font-size: 3.5rem;
}

#layered_waves
{
    position: absolute;
    width:100vw;
    height:100vh;
    margin: -100px -20vw;
    z-index: -1;
}

#lw
{
    background-image: url("./Images/layered-waves-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.bot_round
{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.custom-shape-divider-top-1685290377 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1685290377 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 138px;
}

.custom-shape-divider-top-1685290377 .shape-fill {
    fill: #212121;
}

.custom-shape-divider-bottom-1685290547 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1685290547 svg {
    position: relative;
    display: block;
    width: calc(105% + 1.3px);
    height: 241px;
}

.custom-shape-divider-bottom-1685290547 .shape-fill {
    fill: #212121;
}



#proj_grid
{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 10px;
    
}
#proj_grid::-webkit-scrollbar-track {
    background-color: #073838;
    border-radius: 20px;
    scroll-padding-left: 20px;
}
.card
{
    margin:4rem 3rem;
    border-radius: 30% 70% 70% 30% / 59% 31% 69% 41% ;
    background-image: linear-gradient(45deg,#3023AE 20%,#00ccff 100%);
    text-align: center;
    padding:5rem 5rem;
    margin-right:1rem;
    margin-left:1rem;
    z-index: -1;
    transition: transform 200ms ease-in-out;
    animation: wobble 12s linear infinite;
}
#blob_anim
{
    animation: wobble 12s ease-in-out infinite;
}
@keyframes wobble
{
    0%
    {
        border-radius: 30% 70% 70% 30% / 59% 31% 69% 41% ;
    }
    50%
    {
        border-radius: 84% 16% 41% 59% / 22% 30% 70% 78%    ;
    }
    100%
    {
        border-radius: 30% 70% 70% 30% / 59% 31% 69% 41% ;
    }
}

.card:hover
{
    transform: scale(1.1);
}
#reach_me
{
    display: flex;
    flex-direction: row;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}
.social
{
    width: 10rem;
    height: 10rem;
    margin: 0 1rem;
    transition: transform 200ms ease-in-out;
}
#reach_me:hover .social:not(:hover)
{
    transform: scale(0.9);
}
.social:hover
{
    transform: scale(1.15) translateY(-1rem);
}
#blob
{
    min-height: 200px;
    height:200px;
}