html
{
    font-family: "Open Sans", sans-serif;
    
}
@media only screen and (max-width: 600px) {
    html
    {
        font-size: 12px;
    }
}
:root
{
    --techStackHt:125vh;
}
*
{
    border: none;
    margin:0;
    padding:0;
    transition: all .5s;
    user-select: none;
}
*:link,:visited
{
    text-decoration: none;
    color: white;
}
*::selection
{
    background-color: rgb(110, 110, 110);
    border-radius: 10px;
}
body
{
    margin:0;
    background-color: rgb(33, 33, 33);
    color:white;
    overflow-x: hidden;
}
::-webkit-scrollbar
{
    width: 15px;
}
::-webkit-scrollbar-thumb
{
    background-color:#18c3c3;
    border-radius: 10px;
}
.wave_hi
{
    display: inline-block;
    transition-property: scale,translate;
    transition-duration: 200ms;
}
.wave_hi:hover
{
    animation: wave 200ms linear infinite;
    transform-origin: center;
    scale:1.9;
    translate: 15px;
}
@keyframes wave {
    0% {
      transform: rotate( 0.0deg) ;
    }
    50% {
      transform: rotate(14.0deg) ;
    }
    100% {
        transform: rotate( 0.0deg) ;
      }
}
#section_intro
{
    padding-left:3rem;
}
#section_intro div
{
    display: inline-block;
}
.text_container
{
    backdrop-filter: blur(4px);
    padding-left:5rem;
    padding-bottom:8rem;
    border-radius: 10px;
    background-color: #00000033;
    width:580px;
}
h1
{
    margin-bottom: 2rem;
    /* color:#212121; */
    opacity:0;
    display: inline-block;
}
.drop_down_anim
{
    animation:drop-down 1s ease-out forwards;
}
@keyframes drop-down {
    
    0%
    {
        transform:  translateY(-100px);
        opacity: 0;
    }
    100%{
        transform:  translateY(0);
        opacity: 1;
    }
}
.typ_anim
{
    animation: typing 2s linear forwards;
    animation-delay: var(--animDelay);
    white-space: nowrap;
    overflow: hidden;
    width:0;
}
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blinkTextCursor {
    from {
      border-right-color: white;
    }
    to {
      border-right-color: transparent;
    }
  }
section
{
    min-height: 80vh;
    position: relative;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    padding: 100px 20vw;
    overflow: hidden ;
}
.me
{
    position: absolute;
    transform:  translateY(-1600px);
    right:4rem;
    animation:drop-in 2.5s ease-out forwards, wobble 10s linear infinite;
    animation-delay: 3s;
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transition-property: scale;
    transition-duration: 200ms;
    height:25rem;
}
.me:hover
{
    scale: 1.1;
}
@keyframes drop-in {
    0%
    {
        transform:  translateY(-1600px);
        /* border-radius: 19% 81% 24% 76% / 64% 52% 48% 36%   ; */
    }
    60%
    {
        /* border-radius: 59% 41% 41% 59% / 43% 30% 70% 57%   ; */
    }
    100%{
        transform:  translateY(3rem);
        /* border-radius: 19% 81% 24% 76% / 64% 52% 48% 36%  ; */
    }
}
.bord_curv
{
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.frontend_projs
{
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    margin-bottom: 4rem;
}


.bgcol212121
{
    background-color: #212121;
}
.favcol
{
    background-color:#0f7777;
}
.black
{
    background-color: black;
}
.tech_stacks
{
    min-height: var(--techStackHt);
    background-color: #181b23;

    
}
.custom-shape-divider-top-1686499621 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1686499621 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 89px;
}

.custom-shape-divider-top-1686499621 .shape-fill {
    fill: #212121;
}
.tech_stack_container_fut
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: -10rem ;
    margin-right: -10rem;
}

@media only screen and (max-width: 600px) {
    .tech_stack_container_fut
    {
        display: grid;
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: 0;
        margin-left: -10rem ;
        margin-right: -10rem;
    }
}

@media only screen and (min-width: 600px) {
    .tech_stack_container_fut
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-left: -10rem ;
        margin-right: -10rem;
    }
}
.tech_stack_container
    {
        display: flex;
        flex-wrap: wrap;
        margin-top:2rem;
        /* margin-left: -10rem ;
        margin-right: -10rem; */
    }
.tech_stack
{
    width:8vw;
    height:8vw;
    background-color: white;
    animation: wobble 12s linear infinite;
    padding:2vw 5vh;
    /* margin-left: -10rem; */
    background-image: linear-gradient(45deg,var(--c1) 20%,var(--c2) 100%);
    transform: translateY(var(--altitude));
}
.tech_stacks .tech_stack *
{
    height:5vw;
    position: absolute;
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
    padding-left: 0;
    transition: border-radius 200ms ease-out;
}
.custom_curv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    transform: rotate(0) translateY(var(--techStackHt));
}

.custom_curv svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 217px;
}

.custom_curv .shape-fill {
    fill: black;
}
h1
{
    font-size: 3.5rem;
}

#layered_waves
{
    position: absolute;
    width:100vw;
    height:100vh;
    margin: -100px -20vw;
    z-index: -1;
}



.bot_round
{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.custom-shape-divider-top-1685290377 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1685290377 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 138px;
}

.custom-shape-divider-top-1685290377 .shape-fill {
    fill: #212121;
}

.custom-shape-divider-bottom-1685290547 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1685290547 svg {
    position: relative;
    display: block;
    width: calc(105% + 1.3px);
    height: 241px;
}

.custom-shape-divider-bottom-1685290547 .shape-fill {
    fill: #212121;
}



#proj_grid
{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 10px;
    
}
#proj_grid::-webkit-scrollbar-track {
    background-color: #073838;
    border-radius: 20px;
    scroll-padding-left: 20px;
}
.fut_tech
{
    width:15vw;
    height:15vw;
}
.fut_tech img
{
    height:70%;
    position: absolute;
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);

    object-fit: contain;
}
.card
{
    margin:4rem 3rem;
    border-radius: 30% 70% 70% 30% / 59% 31% 69% 41% ;
    background-image: linear-gradient(45deg,#3023AE 20%,#00ccff 100%);
    text-align: center;
    padding:5rem 5rem;
    margin-right:1rem;
    margin-left:1rem;
    z-index: -1;
    transition: transform 200ms ease-in-out;
    animation: wobble 12s linear infinite;
}
.col_darkgrey
{
    background-color: #161616;
}
.blob_anim
{
    
    animation: wobble 12s ease-in-out infinite;
}
@keyframes wobble
{
    0%
    {
        border-radius: 49% 51% 50% 50% / 34% 52% 48% 66%  ;
    }
    50%
    {
        border-radius: 49% 51% 24% 76% / 64% 52% 48% 36%      ;
    }
    100%
    {
        border-radius: 49% 51% 50% 50% / 34% 52% 48% 66%  ;
    }
}

.card:hover
{
    transform: scale(1.1);
}
#reach_me
{
    display: flex;
    flex-direction: row;
    padding-top:30px;
    padding-bottom:30px;
    overflow-x: scroll;
    border-radius: 3px;
    backdrop-filter: blur(4px);
}

.social
{
    width: 10rem;
    height: 10rem;
    margin: 0 1rem;
    transition: transform 200ms ease-in-out;
}
#reach_me:hover .social:not(:hover)
{
    transform: scale(0.9);
}
.social:hover
{
    transform: scale(1.15) translateY(-1rem);
}
#section_social
{
    min-height: 300px;
    
}

.anim
{
    left:-100px;
    /* top:50px; */
    margin-top: -100px;
    position: absolute;
}

.spotify_entry
{
    animation: wobble 12s linear infinite;
    padding: 80px;
    background-color: black;
    display: inline-block;
    text-align: center;
    margin: 20px;
}
.spotify_entry:hover
{
    transform: scale(1.1);
}
.wrapper_spotify_content
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}